.comment {
width: 100%;
line-height:100%;
margin:0px;
padding-top:15px;
}

.comment_text {
padding:10px 0px 10px 0px;
}

.comment_text p{
padding:0px;
margin:0px
}

h2.comment_title {
border-bottom:0px;
padding-bottom:0px;
}

.username{
font-weight:bold;
}

.hidden{
display: none;
}

/*.add_comment textarea{
resize:none;
width: 100%;
height: 50px;
border-color: #999;
}*/

/*.button {
resize:none;
width: 120px;
height: 30px;
margin-top:15px;
float:right;
}*/

.button {
    resize:none;
    width: 120px;
    height: 30px;
    background: #FFF;
    border: 1px solid #CCC;
    color: #333;
    border-radius: 4px;
    float:right;
}
.button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

.reply {
	cursor: pointer;	
}

.comment_div{
    padding-top:20px;
    }

.comment_div a{
    cursor: pointer;
	font-size:18px;
}

#voicing {
	display:inline-block;
}

#voicing div {
	display:inline-block;
	font-family:Sans;
	font-weight:bold;
	color: #000;
}

#voicing .plus, .plus_voice:hover{
	display:inline-block;
	vertical-align:bottom;
	text-decoration:none;
	background:url(../img/rating.png) 0px -16px no-repeat;
	width:16px;
	height:16px;
	outline:none;
	border-bottom: 0px;
}

#voicing .minus, .minus_voice:hover{
	display:inline-block;
	vertical-align:bottom;
	text-decoration: none;
	background:url(../img/rating.png) -16px -16px no-repeat;
	width:16px;
	height:16px;
	outline:none;
	border-bottom: 0px;
}

#voicing .plus:hover, .plus_voice{
	display:inline-block;
	vertical-align:bottom;
	text-decoration:none;
	background:url(../img/rating.png) 0px 0px no-repeat;
	width:16px;
	height:16px;
	border-bottom: 0px;
}

#voicing .minus:hover, .minus_voice{
	display:inline-block;
	vertical-align:bottom;
	text-decoration: none;
	background:url(../img/rating.png) -16px 0px no-repeat;
	width:16px;
	height:16px;
	border-bottom: 0px;
}

#fav {
	display:inline-block;
	vertical-align:bottom;
}

#fav .favorite_del:hover, .favorite_add{
	display:inline-block;
	background:url(../img/rating.png) -32px -16px no-repeat;
	width:16px;
	height:16px;
	border-bottom: 0px;
}

#fav .favorite_add:hover, .favorite_del{
	display:inline-block;
	background:url(../img/rating.png) -32px 0px no-repeat;
	width:16px;
	height:16px;
	border-bottom: 0px;
}

#voicing .positive {
	color:#01DF01;
}

#voicing .negative {
	color:#FF0000;
}
