﻿html,body {    height:100%;    margin:0;    padding:0;}#main{    height:100%;    width:100%;    vertical-align: middle;    padding: 20px;} .mainform{    width:400px;    margin:10px auto;}.addform{    width:500px;    margin:10px auto;}.righter{    text-align:right;}