﻿div.jGrowl div.err_voice {    background-color: #FF1919;	}    div.jGrowl div.voicing {    background-color: #94C75C;	}    div.jGrowl div.add_fav {    background-color: #4AD4F7;	}    div.jGrowl div.del_fav {    background-color: #B26680;	}