.editacc {
    width: 700px;
}

.avatar {
display:inline-block;
vertical-align:top;
width: 200px;
height: 100%;
}

.about, .country, .city, .birthday {
padding: 5px
}

.info{
display:inline-block;
width: 450px;
}

.email{
background:url(img/profile_social.png) 0px 0px no-repeat;
height: 44px;
padding-left: 46px;
margin-bottom: 5px;
}

.gplus {
background:url(../img/profile_social.png) 0px -260px no-repeat;
height: 43px;
padding-left: 46px;
margin-bottom: 5px;
}

.facebook {
background:url(../img/profile_social.png) 0px -131px no-repeat;
height: 43px;
padding-left: 46px;
margin-bottom: 5px;
}

.twitter {
background:url(../img/profile_social.png) 0px -87px no-repeat;
height: 44px;
padding-left: 46px;
margin-bottom: 5px;
}

.vk{
background:url(../img/profile_social.png) 0px -44px no-repeat;
height: 44px;
padding-left: 46px;
margin-bottom: 5px;
}

.github{
background:url(../img/profile_social.png) 0px -347px no-repeat;
height: 44px;
padding-left: 46px;
margin-bottom: 5px;
}

.skype{
background:url(../img/profile_social.png) 0px -173px no-repeat;
height: 43px;
padding-left: 46px;
margin-bottom: 5px;
}

.linkedin{
background:url(../img/profile_social.png) 0px -303px no-repeat;
height: 44px;
padding-left: 46px;
margin-bottom: 5px;
}
.livejournal{
background:url(../img/profile_social.png) 0px -216px no-repeat;
height: 43px;
padding-left: 46px;
margin-bottom: 5px;
}

.linktoprof{
padding: 10px;
}

.avatar div{
font-size: 18px;
text-align: center;
padding-top:10px;
}

.avatar div div{
font-weight: bold;
}

.avatar div .plus{
	display:inline-block;
	background:url(../img/rating.png) 0px 0px no-repeat;
    width:16px;
    height: 16px;
    vertical-align:middle;
	text-decoration: none;
    border-bottom: 0px;
}

.avatar div .minus{
	display:inline-block;
	background:url(../img/rating.png) -16px 0px no-repeat;
    width:16px;
    height: 16px;
    vertical-align:middle;
	text-decoration: none;
    border-bottom: 0px;
}

#karma {
display:inline-block;
}

.positive {
	color:#01DF01;
}

.negative {
	color:#FF0000;
}