/*
Description: The Arialist XHTML/CSS Template
Version: 1.0

Using MentariCSS Framework
Get it from http://www.mentaricss.com
Licensed under GPL

Written by: Mohd Huzairy from Malaysia (http://mohd.huzairy.com)
The Arialist official website: http://www.mentariworks.com/thearialist.html

Table of contents:
-------------------
1.Reset
2.Table
3.Typography
4.Positioning
5.Page styling (This is where you SHOULD do the editing)
-------------------
*/

/* 1.Reset (http://meyerweb.com/eric/tools/css/reset/) */
html, body, div, span, applet, object, iframe,
dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body
{
	line-height: 1;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}

hr
{
	display:none;
}

/* Uncomment this if you want to disable default bullet and numeric styling.
ol,ul,li
{
	list-style:none;
	margin:0;
	padding:0;
} */
/* End Reset */

/* 2.Table */
table									{ border:1px solid #ccc; border-left:none; border-top:none; position:relative; top:-3px; margin:18px 0;padding-bottom:0; border-collapse: separate; border-spacing: 0; width:100%; }
th, td									{ border-top:1px solid #ccc; line-height:18px; padding:9px 18px 8px 10px; position: relative; }
th										{ background:#666; color:#fff; }
td,th									{ border-left:1px solid #ccc; text-align: left; font-weight: normal;}
th:last-child, td:last-child			{ padding-right:0; }
tr:nth-child(even) td					{ padding:10px; background:#f6f6f6; }
tr:nth-child(odd) td					{ padding:10px; }
caption									{ top:8px; margin-bottom:18px; text-align: left; font-weight: normal; }
/* End Table */

/* 3.Typography */
h1, h2, h3, h4, h5, h6					{ position: relative; }
p, blockquote							{ line-height:150%; margin:10px 0 15px 0; }
cite									{ font-style:normal; display:block; margin:10px 0;}
code									{ font-family:courier,monospace; background:#fffcdc; border-bottom:1px solid #ccc; font-size:0.9em; letter-spacing:1px; line-height:150%; }
acronym, abbr							{ cursor:help; border-bottom:1px dotted #999; }
/* End Typography */

/* 4.Positioning */
.clear                                  { clear:both; }
.left									{ float:left; }
.right									{ float:right; }


/* 5.Page styling */
body
{
	background:#fff;
	font: 80%/115% arial,verdana,georgia;
	line-height:150%;
	border-top:15px solid #eee;
	color:#333;
}

#wrapper
{
	width:900px;
    height: 100%;
	padding:10px;
	margin:0 auto;
}

.menu {
	margin: 100px 0 20px 0;
	padding: .7em;
	float: left;
	list-style: none;
}

.clear
{
	clear:both;
}

blockquote
{
	border-left:1px solid #eee;
	padding-left:15px;
	color:#666;
}

a
{
	text-decoration:none;
	color:#006699;
	border-bottom:1px solid #eee;
}

a:hover
{
	color:#333;
}

#header
{
	height:50px;
}

#header h1 a
{
	border:none;
	color:#CCCC99;

}

.logo{
	display:block;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	height:136px;
	border:none;
	margin: 0px;
	padding-top: 55px;
	padding-left: 220px;
	}

#header p
{
	margin:-13px 0 0 2px;
	color:#999;
}


/* Content */
#content
{
	float:left;
	width:600px;
}

.hentry
{
	margin-bottom:30px;
	padding-bottom:20px;
}

.hentry img
{
	margin:5px 0 10px 0;
}

.from_div{
    margin-top:190px;
}

.div_frm {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

abbr
{
	border:none;
	font-size:0.9em;
	color:#999;
}

.hentry ul li,ol li
{
	margin-left:20px;
	color:#444;
}

.metadata
{
	vertical-align: middle;
	color:#999;
	font-size: 12px;
}

.metadata a:hover{
	color:#bc4d5e;
}

.metadata a{
	color:#999;
}

.cats {
    padding-bottom:10px;
}

.tags {
    padding-top:10px;
}
/* Sidebar */
#sidebar
{
	float:right;
	width:250px;
}

.widget ul, ol
{
	margin:0;
	padding:0;
}

.widget
{
	margin-bottom:50px;
}

.entry-title {
	font-weight:bold;
}

.post-title {
	font-weight:bold;
	font-size:24px;
}

.copyrigth{
	display:inline;
}

.feed{
	display:inline;
    width:210px;
    padding-left: 80px;
}
/* Footer */
#footer
{
	width:700px;
	border-top:1px solid #eee;
	color:#999;
}

.separator
{
	border-top:1px solid #eee;
	width:300px;
	margin-top:15px;
}

/* Pagination */
#pagination
{
	height:110px;
}

a.facebook {
	display:inline-block;
	vertical-align:bottom;
	width:16px;
	height:16px;
	margin:0 1px 1px 0;
	padding:0;
	outline:none; 
	background:url(../img/social_icon.png) -16px 0 no-repeat
}
a.facebook:hover {
	background:url(../img/social_icon.png) -16px -16px no-repeat
}

a.vk {
	display:inline-block;
	vertical-align:bottom;
	width:16px;
	height:16px;
	margin:0 1px 1px 0;
	padding:0;
	outline:none; 
	background:url(../img/social_icon.png) 0 0 no-repeat
}
a.vk:hover {
	background:url(../img/social_icon.png) 0 -16px no-repeat
}

a.twitter {
	display:inline-block;
	vertical-align:bottom;
	width:16px;
	height:16px;
	margin:0 1px 1px 0;
	padding:0;
	outline:none; 
	background:url(../img/social_icon.png) -48px 0 no-repeat
}
a.twitter:hover {
	background:url(../img/social_icon.png) -48px -16px no-repeat
}

a.lj {
	display:inline-block;
	vertical-align:bottom;
	width:16px;
	height:16px;
	margin:0 1px 1px 0;
	padding:0;
	outline:none; 
	background:url(../img/social_icon.png) -80px 0 no-repeat
}
a.lj:hover {
	background:url(../img/social_icon.png) -80px -16px no-repeat
}

a.gplus {
	display:inline-block;
	vertical-align:bottom;
	width:16px;
	height:16px;
	margin:0 1px 1px 0;
	padding:0;
	outline:none; 
	background:url(../img/social_icon.png) -64px 0 no-repeat 
}
a.gplus:hover {
	background:url(../img/social_icon.png) -64px -16px no-repeat
}

a.lin {
	display:inline-block;
	vertical-align:bottom;
	width:16px;
	height:16px;
	margin:0 1px 1px 0;
	padding:0;
	outline:none; 
	background:url(../img/social_icon.png) -32px 0 no-repeat 
}
a.lin:hover {
	background:url(../img/social_icon.png) -32px -16px no-repeat
}

a.feed_vk {
	display:inline-block;
	vertical-align:bottom;
	width:26px;
	height:25px;
	margin:0 1px 0px 0;
	padding:0;
	outline:none; 
	background:url(../img/socgroup.png) -78px 0 no-repeat;
    border-bottom: 0;
}

a.feed_rss {
	display:inline-block;
	vertical-align:bottom;
	width:26px;
	height:25px;
	margin:0 1px 0px 0;
	padding:0;
	outline:none; 
	background:url(../img/socgroup.png) -26px 0 no-repeat;
    border-bottom: 0;
}

a.feed_twitter {
	display:inline-block;
	vertical-align:bottom;
	width:26px;
	height:25px;
	margin:0 1px 0px 0;
	padding:0;
	outline:none; 
	background:url(../img/socgroup.png) -52px 0 no-repeat;
    border-bottom: 0;
}

a.feed_facebook {
	display:inline-block;
	vertical-align:bottom;
	width:26px;
	height:25px;
	margin:0 1px 0px 0;
	padding:0;
	outline:none; 
	background:url(../img/socgroup.png) 0 0 no-repeat;
    border-bottom: 0;
}

a.feed_subscribe {
	display:inline-block;
	vertical-align:bottom;
	width:25px;
	height:25px;
	margin:0 1px 0px 0;
	padding:0;
	outline:none; 
	background:url(../img/socgroup.png) -104px 0 no-repeat;
    border-bottom: 0;
}