{% extends "base.html" %}
{% load markitup_tags %}

{% block head %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/token-input.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/token-input-facebook.css" %}?{% now "U" %}" type="text/css" />
{% if user.is_authenticated and user.is_superuser%}
<link rel="stylesheet" href="{% static "css/jquery.fileupload.css" %}" type="text/css" >
{% endif %}

<!-- <link rel="stylesheet" href="{% static "css/addpost.css" %}" type="text/css" />-->
{% markitup_media %}
<script type="text/javascript" src="{% static "js/jquery.tokeninput.js" %}"></script>
<script type="text/javascript" src="{% static "js/addpost.js" %}?{% now "U" %}"></script>
{% endblock %}

{% block conten %}
<div class="from_div">
<form action="/add_post" method="post" class='form-horizontal'>{% csrf_token %}
 {% for field in form %}
    {{ field.errors }}
	{{ field.label_tag }} <br>
	{{ field }}<br>
	{% endfor %}
	<input type="submit" name='_save' value='Опубликовать' class='btn btn-success'>   
 </form>
 <br>
   {% if user.is_authenticated and user.is_superuser%}
    {% include "upload_button.html" %} 
 {% endif %}
 </div>
{% endblock %}