<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--[if lt IE 9]><script>document.createElement('nav');</script><![endif]-->
<!--[if lt IE 8]><script>document.createElement('nav');</script><![endif]-->
<!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" /> -->

<head>
	{% load staticfiles %}
    <meta name='yandex-verification' content='651b848923ab79c7' />
    <meta name="google-site-verification" content="VmDd0WMumM6Fh09NT4q4RBBGE4nSLmD8uDucpmJgfN0" />
	<link rel="stylesheet" href="{% static "css/style.css" %}?{% now "U" %}" type="text/css" media="screen" />
	<!-- <link rel="stylesheet" href="{% static "css/menu.css" %}?{% now "U" %}" type="text/css"/>-->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}?{% now "U" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/default.css" %}?{% now "U" %}" type="text/css" />
    <script type="text/javascript" src="{% static "js/highlight.pack.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/menu.js" %}"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<script type="text/javascript">
    hljs.initHighlightingOnLoad();
    MathJax.Hub.Config({
        "tex2jax": { inlineMath: [ [ '$', '$' ] ] }
    });
    </script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block head %}
	<title>Блог об анализе данных и ИТ - записки аналитика</title>
	{% endblock %}
</head>

<body>

	<div id="wrapper">
		
		{% block header %}
		<div id="header">
			<div class="logo">
			<h1>Записки аналитика</h1>
			{% if user.is_authenticated %}
			    <h5>
			    <a href='/add_post'>Добавить пост</a>
                </h5>
			{% endif %}
		</div>
		</div>
		<!-- <nav> -->
        <div class='menu'>
			<ul class="nav nav-pills">
				<li><a href='/'>Блог</a></li>
				<li><a href='/howto'>HowTo</a></li>
				<li><a href='/helplink'>Ссылки</a></li>
				<li><a href='/datasets'>Наборы данных</a></li>
                <li><a href='/diggest' title='Все дайджесты со статьями по аналитике в одном месте'>Архив дайджестов</a></li>
                <li><a href='/profile/kuznetsovin'>Об авторе</a></li>
			</ul>
        </div>
		<!-- </nav>-->
		{% endblock %}
		<div id='wrapper'>
		{% block conten %}
		{% endblock %}
		
		{% block sidebar %}
		{% endblock %}
		</div>	
		<div class="clear"></div>
		
		{% block copyright %}	
		<div id="footer">
            <div class='copyrigth'>computerscinese.ru ©</div>
            <div class='feed'>            
            <a class='feed_twitter' href='https://twitter.com/ComputerScinece'></a>             
            <a class='feed_facebook' href='https://www.facebook.com/computerscinese'></a> 
			<a class='feed_vk' href='http://vk.com/public44645555'></a> 
            <a class='feed_rss' href='/rss'></a>
            <a class='feed_subscribe' href="http://subscribe.ru/catalog/comp.web.analisysblog61"></a>
            </div>
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-43331988-1', 'computerscinece.ru');
			  ga('send', 'pageview');

			</script>
			
			<!-- Yandex.Metrika counter -->
			<script type="text/javascript">
			(function (d, w, c) {
			    (w[c] = w[c] || []).push(function() {
			        try {
			            w.yaCounter23798641 = new Ya.Metrika({id:23798641,
			                    clickmap:true,
			                    trackLinks:true,
			                    accurateTrackBounce:true});
			        } catch(e) { }
			    });

			    var n = d.getElementsByTagName("script")[0],
			        s = d.createElement("script"),
			        f = function () { n.parentNode.insertBefore(s, n); };
			    s.type = "text/javascript";
			    s.async = true;
			    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			    if (w.opera == "[object Opera]") {
			        d.addEventListener("DOMContentLoaded", f, false);
			    } else { f(); }
			})(document, window, "yandex_metrika_callbacks");
			</script>
			<noscript><div><img src="//mc.yandex.ru/watch/23798641" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
			<!-- /Yandex.Metrika counter -->
		</div>
		{% endblock %}
	</div>
	
</body>
</html>
