﻿{% extends "base.html" %}

{% block head %}
<title>Дайджест статей по анализу данных №{{diggest_info.id}} ({{diggest_info.first_date}} - {{diggest_info.last_date}})</title>
{% endblock %}


{% block conten %}
<div id="content">
    <div class="hentry">
        <div id="main">
            <h2>Дайджест статей по анализу данных №{{diggest_info.id}}</h2>
            <h4>{{diggest_info.first_date}} - {{diggest_info.last_date}}</h4>
            {% for article in articles%}
            {% ifchanged %} <h3>{{article.category}}</h3>{% endifchanged %}
            <ul>
            <li><a href="{{ article.href }}">{{ article.title }}</a> ({{ article.lang }})<div class='desc'>{{ article.desc }}</div></li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}