﻿{% extends "base.html" %}

{% block head %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/digest.css" %}" type="text/css">
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/django.form.validation.js" %}"></script>


<title>Дайджест статей по аналитике</title>
{% endblock %}

{% block conten %}
    <div id="content">
        <div class="hentry">
            <div id="main">
                <form class="form-horizontal mainform">
                    <fieldset>
                    <div class="form-group">
                        <div class="input-group">
                            <select class="form-control" id="digest_num">
                               {% for diggest in diggets_archive %}
                              <option value="{{diggest.href}}"> Дайджест № {{diggest.id}} ({{diggest.first_date.day}} - {{diggest.last_date}}) </option>
                              {% endfor %}
                            </select>
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button" onclick="location.href = $('#digest_num').val()">Посмотреть выпуск</button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group righter">
                        <div class="col-lg-10 col-lg-offset-2">
                            {% if perms.digest.add_diggestnews %}
                            <a data-toggle="modal" href="#modal_win" class="btn btn-success">Добавить новость</a>
                            {% endif %}
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
         </div>
    </div>
    
<div class="modal" id="modal_win">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Добавить статью</h4>
      </div>
      <div class="modal-body">
        <form action="/diggest/add_news" method="POST" class="form-horizontal addform" id='addform'> {% csrf_token %}
                <fieldset>
                {% for field in add_form %}
                <div class="form-group">
                    <label for="{{ field.id }}" class="col-lg-2 control-label">{{ field.label }}</label>
                    <div class="col-lg-10">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group righter">
                    <div class="col-lg-10 col-lg-offset-2">
                       <button type="submit" class="btn btn-success" id="send_form">Добавить материал</button>
                    </div>
                </div>
                </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
