{% extends "base.html" %}

{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static "css/token-input.css" %}" type="text/css" />
<link rel="stylesheet" href="{% static "css/token-input-facebook.css" %}?{% now "U" %}" type="text/css" />
<script type="text/javascript" src="{% static "js/jquery.tokeninput.js" %}"></script>
<script type="text/javascript" src="{% static "js/editprofile.js" %}?{% now "U" %}"></script>
{% endblock %}

{% block conten %}
<div class="from_div">
<h3>Общее</h3>
<form action="" class="form-horizontal editacc" method="POST" enctype="multipart/form-data">{% csrf_token %}
{% for field in form %}
<div class="form-group">
    {{field.errors}}
    <label class="col-lg-2 control-label">{{field.label}}</label>
    <div class="col-lg-10">
    {{field}}
    </div>   
</div>
{% endfor %}
<h3>Контакты</h3>

{% for rec in contacts %}
<div class="form-group">
    <label class="col-lg-2 control-label">{{rec.name}}</label>
    <div class="col-lg-10">
        <div class="input-group">
            <input type="text" class="form-control" id="id_{{rec.name}}" name="{{rec.name}}" value="{{rec.prof}}"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="del_social(this)">-</button>
            </span>
        </div>
        
    </div>
</div>
{% endfor %}

<div class="form-group" id="appendNet">
    <label class="col-lg-2"> 
    <select id="id_social" name="social" class='form-control' style="padding:0px">
    {% for net in social %}
        <option value="{{ net.id }}">{{ net.network_name }}</option>    
    {% endfor %}
    </select>
    </label>
    <div class="input-group">
        <input type='text' class='form-control' id='profile'/>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="add_social()">+</button>
        </span>
    </div>
</div>
<div class="col-lg-10 col-lg-offset-2">
    <input type="submit" class="btn btn-primary" value="Сохранить профиль"/>
</div>
    <input type='hidden' id='skills' value="{{ skills }}">
</form>
</div>
{% endblock %}  