{% extends "base.html" %}

{% block conten %}
		<div id="content">
        <div class="hentry">
            <ul>
			{% for link in links %}	
				<li><a href="/posts/{{link.id}}" title="{{ link.title }}">{{ link.title }}</a></li>
			{% endfor %}
            </ul>
        </div>
			
			
						
			<!--<div id="pagination">
                {% if posts.has_previous %}
                    <p class="previous left"><a href="?page={{ posts.previous_page_number }}">&laquo; Previous</a></p>
                {% endif %}
                {% if posts.has_next %}
                    <p class="next right"><a href="?page={{ posts.next_page_number }}"">Next &raquo;</a></p>
                {% endif %}
			</div>-->
			
			<div class="clear"></div>			
		</div>
{% endblock %}