{% extends "base.html" %}

{% block conten %}
		<div id="content">
			{% for post in posts %}
			<div class="hentry">
				<h4 class="entry-title"><a href="/posts/{{ post.id }}">{{ post.title }}</a></h4>
                {% include "categories_div.html" %}
                {% load plugins %}
				{{ post.text | readmore:post.id | safe}}
				
				<div class="separator"></div>
				<p class="metadata"> <abbr>{{ post.date_post }}</abbr>  &#149; By <a href="/profile/{{ post.author.user.username }}">{{ post.author.user.username }}</a> &#149; <a href="#">{{ post.count_comments }} Comments</a></p>
			</div>
			{% endfor %}
			
						
			<div id="pagination">
                <ul class="pagination pagination-sm">
                {% if posts.has_previous %}
                    <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
                {% endif %}               
                {% for num in posts.paginator.page_range %}
                      <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
                {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}"">&raquo;</a></li>
                {% endif %}
                </ul>
			</div>
			
			<div class="clear"></div>			
		</div>
{% endblock %}

	{% block sidebar %}
		<div id="sidebar">
        
            {{ cats | widget_category | safe}}
                      	
		</div>
    {% endblock %}