{% extends "base.html" %}
{% block head %}

{% load staticfiles %}
<!-- <link rel="stylesheet" href="{% static "css/formstyleboostrap.css" %}" type="text/css" /> -->

{% endblock %}

{% block conten %}
<div class="from_div div_frm">
<form method="post" action="/login" class="form-horizontal">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-default" value="войти">
</form>
</div>
{% endblock %}