{% extends "base.html" %}

{% block head %}
{% load markitup_tags %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/comment.css" %}?{% now "U" %}" type="text/css" />
<link rel="stylesheet" href="{% static "markitup/sets/markdown/style.css" %}?{% now "U" %}" media="screen" rel="stylesheet" />
<link rel="stylesheet" href="{% static "markitup/skins/comment/style.css" %}?{% now "U" %}" media="screen" rel="stylesheet" />
<link rel="stylesheet" href="{% static "css/jquery.jgrowl.css" %}?{% now "U" %}" media="screen" rel="stylesheet" />
<link rel="stylesheet" href="{% static "css/message_theme.css" %}?{% now "U" %}" media="screen" rel="stylesheet" />
{% markitup_js %}
<script type="text/javascript" src="{% static "js/rating.js" %}?{% now "U" %}"></script>
<script type="text/javascript" src="{% static "js/comment.js" %}?{% now "U" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.jgrowl.js" %}?{% now "U" %}"></script>
<title>{{ post.title }}</title>
{% endblock %}

{% block conten %}
		<div id="content">
			<div class="hentry">
				<abbr>{{ post.date_post }}</abbr>
				<h3 class="post-title">{{ post.title }}</h3>
                {% include "categories_div.html" %}
                
                {{ post.text | safe}}
                
                <div class="tags" style="padding-top:10px">                
                {% for tag in post.tags.all%}
                <a href="/tags/{{ tag.id }}" target="_blank"><span class="label label-info">{{ tag }}</span>
                {% endfor %}
                </div>
                
				<p class="metadata"> 
					<div id="voicing">
						<a href='#voice' class='plus' {% if user.is_authenticated %} onclick="return voicing(this, 1)" {% else %} onclick="return err_voice()" {% endif %} title='Нравится'></a>
						<div class='rating {{ color }}' id='post_{{ post.id }}'> {{ post.rating }}</div>
						<a href='#voice' class='minus' {% if user.is_authenticated %} onclick="return voicing(this, -1)"  {% else %} onclick="return err_voice()" {% endif %} title='Не нравится'></a>
					</div>&#149;
					<div id='fav'><a href='#favorite' class='{{ fav }}' {% if user.is_authenticated %} onclick="return favorites_post(this,{{ post.id }})"  {% else %} onclick="return err_fav()" {% endif %} title='В избранное'></a></div> &#149;
                    <a href="/profile/{{ post.author.user.username }}">{{ post.author.user.username }}</a> &nbsp {{ g_plus_author | safe }}&#149; 
                    {% include "social_share.html" %}   
					</p>
					
					{% load mptt_tags %}
					<h2 class='comment_title'>Комментарии</h2>
					<div id='print_comment_block'>
					{% recursetree comments %}		
						<div class='comment' style="margin-left: {{ node.get_level }}0px" id='{{ node.id }}'>
							<div class='username'>{{ node.user.user.username }}</div>
							<div class='comment_text'>{{ node.text | linebreaks }}</div>
							<div id="voicing">
								<a href='#' class='plus' {% if user.is_authenticated %}onclick="return voicing(this, 1)"  {% else %} onclick="return err_voice()" {% endif %} title='Нравится'></a>
								<div class='rating {{node.color}}' id='comment_{{ node.id }}'>{{node.rating}}</div>
								<a href='#' class='minus' {% if user.is_authenticated %}onclick="return voicing(this, -1)"  {% else %} onclick="return err_voice()" {% endif %} title='Не нравится'></a> &#149; 								
							</div>
                            {% if user.is_authenticated %}
                            <a onclick="return add_new_comment(this, {{ post.id }})" class='reply'>Ответить</a>
							<div class='reply_form'>
                            {% endif %}
							</div>
						</div>
						
						{% if not node.is_leaf_node %}
							{{ children }}
						{% endif %}
					{% endrecursetree %}
					</div>                   
					 {% if user.is_authenticated %}
                     <div class="comment_div">
                     <a onclick="return add_new_comment(this, {{ post.id }})">Комментировать</a>
                     <form action="" method="post" class='comment_form hidden' id='add_comment'>
                        {% csrf_token %}
                        {{ form_comment.text }}
                        <input type="button" value="Комментировать" class="button" onclick="send_comment(this, {{ post.id }})" />
                     </form>
                     </div>
					{% endif %}
			</div>
			
		</div>
{% endblock %}