	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/style.css" %}?{% now "U" %}" type="text/css" media="screen" />
	<link rel="stylesheet" href="{% static "css/menu.css" %}?{% now "U" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/default.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "js/highlight.pack.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<div>
    <h3 class="post-title">{{ title }}</h3>
	{{ preview|safe }}
</div>
