{% extends "base.html" %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "css/profile.css" %}?{% now "U" %}" type="text/css" />
    <script type="text/javascript" src="{% static "js/userranking.js" %}?{% now "U" %}"></script>
{% endblock %}

{% block conten %}
<div class="from_div" style="width: 700px">
<ul class="nav nav-tabs" style="margin-bottom: 15px;">
  <li class="active"><a href="#profile" data-toggle="tab">Профиль</a></li> 
  <li class=""><a href="#contacts" data-toggle="tab">Контакты</a></li>
  <!-- <li class=""><a href="#favorit" data-toggle="tab">Портфолио</a></li> -->
</ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="profile">
            <div class='avatar'>
                <img src="/upload/{{ profile.avatar }}">
            </div>
            <div class='info'>
                {% if profile.birthday %}
                <div class='birthday'>
                    <strong>Год рождения:</strong> {{ profile.birthday }}
                </div>
                {% endif %}
                
                {% if profile.country %}
                <div class='country'>
                    <strong>Страна:</strong> {{ profile.country }}
                </div>
                {% endif %}
            
                {% if profile.city %}
                <div class='city'>
                    <strong>Город:</strong> {{ profile.city }}
                </div>
                {% endif %}
            
                {% if profile.about %}
                <div class='about'>
                    <strong>О себе:</strong><br>
                    {{ profile.about }} 
                </div>
                {% endif %}
          </div>
        </div>
     <!-- <div class="tab-pane fade" id="favorit">
      </div>-->
    <div class="tab-pane fade" id="contacts">
        {% for network in social_account %}
            <div class="{{ network.name }}"><div class='linktoprof'><a href="{{ network.link }}">{{ network.account }}</a></div></div>
         {% endfor %}
      </div>
    </div>
</div>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootswatch.js" %}"></script>
{% endblock %}