{% extends "base.html" %}

{% block conten %}
<div class="from_div div_frm">
	<form action="/registration/" method="post" class="form-horizontal">{% csrf_token %}    
    {{ form.as_p }}
	<input type="submit" class="btn btn-default" value="Регистрация">
	</form>
</div>
{% endblock %}
