<a class='facebook' href="http://www.facebook.com/sharer.php?u={{ post_url }}" onclick="window.open(this.href, '_blank', 'width=550, height=440, toolbar=0, status=0');return false" title="Поделиться в Facebook" target="_blank"></a>
<a class='vk' href='http://vk.com/share.php?url={{ post_url }}' onclick="window.open(this.href, '_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=550, height=440, toolbar=0, status=0');return false" title="Поделиться в Вконтакте" target="_blank"></a>
<a class='twitter' href='https://twitter.com/intent/tweet?text={{ post_url }}&amp;url={{ request.get_full_path }}' onclick="window.open(this.href, '_blank', 'width=550, height=440, toolbar=0, status=0');return false" title="Поделиться в Twitter" target="_blank"></a>
<a class='lj' href='http://www.livejournal.com/update.bml?event=<a href="{{ post_url }}">{{post.title}}</a>&amp;subject={{post.title }}' title="Поделиться в LiveJournal" target="_blank"></a>
<a class='gplus' href='https://plus.google.com/share?url={{ post_url }}' onclick="window.open(this.href, 'width=550, height=440, toolbar=0, status=0')" title="Поделиться в Google+"></a>
<a class='lin' href='http://www.linkedin.com/shareArticle?mini=true&amp;url={{ post_url }}&amp;title={{ post.title }}' onclick="window.open(this.href, '_blank', 'width=600, height=400, toolbar=0, status=0');return false" title="Поделиться в Linkedin" target='_blank'></a>