    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Add files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
    <br>
    <div id="files" class="files"></div>

{% load staticfiles %}
<script src="{% static "js/jquery.ui.widget.js" %}"></script>
<script src="{% static "js/load-image.min.js" %}"></script>
<script src="{% static "js/jquery.iframe-transport.js" %}"></script>
<script src="{% static "js/jquery.fileupload.js" %}"></script>
<script src="{% static "js/jquery.fileupload-process.js" %}"></script>
<script src="{% static "js/jquery.fileupload-image.js" %}"></script>
<script src="{% static "js/jquery.fileupload-validate.js" %}"></script>
<script src="{% static "js/main_upload.js" %}"></script>


